name: Klocwork diff analysis

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'revisions/**'
  pull_request:
    branches:
      - main
    paths:
      - 'revisions/**'
  workflow_dispatch:
    inputs:
      name:
        description: 'Run the Klocwork analysis manually'
        default: 'Manual Execution'
        required: true

jobs:
  klocwork:
    runs-on: [self-hosted, kwciagent]
    defaults:
      run:
        working-directory: ${{github.ref_name}}

    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
          path: ${{github.ref_name}}
      - name: kwinject
        run: kwinject make
      - name: create diff list
        run: git diff --name-only HEAD^..HEAD > diff_file_list.txt
      - name: kwciagent
        id: kwciagent
        continue-on-error: true
        run: |
          export LC_ALL=ja_JP.utf8
          kwciagent create --url ${{secrets.KWSERVER}}/demosthenes_actions_demo -b kwinject.out
          kwciagent run -Y --ci-build ${{ github.ref_name }}_${{ github.sha }} -L @diff_file_list.txt
          kwciagent list -Y -F scriptable --report qgate.txt @diff_file_list.txt
          if [ $( cat qgate.txt | wc -l ) -gt 0 ]; then exit 1; fi
      - name: generate sarif file
        if: ${{steps.kwciagent.outcome == 'failure'}}
        run: python2 ${{secrets.KWHOME}}/klocwork/kwoutput.py -a kwlp -f sarif --kwlp .kwlp
      - name: upload sarif file
        if: ${{steps.kwciagent.conclusion == 'failure' && hashFiles('kw.sarif') != ''}}
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: kw.sarif
